@font-face {
  font-family: "AppleNeoB";
  src: url("./font/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "AppleNeoEB";
  src: url("./font/AppleSDGothicNeoEB.ttf");
}

@font-face {
  font-family: "AppleNeoH";
  src: url("./font/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "AppleNeoL";
  src: url("./font/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "AppleNeoM";
  src: url("./font/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "AppleNeoR";
  src: url("./font/AppleSDGothicNeoR.ttf");
}

@font-face {
  font-family: "AppleNeoSB";
  src: url("./font/AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: "AppleNeoT";
  src: url("./font/AppleSDGothicNeoT.ttf");
}

@font-face {
  font-family: "AppleNeoUL";
  src: url("./font/AppleSDGothicNeoUL.ttf");
}